.criteria-select-and-input {
    width: 140px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-columns {
    margin: auto;
}

.select-tables {
    width: auto;
}

.select-columns {
    border-style: groove;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.criteria-div {
    /*width: 1500px;*/
    /*border-style: ridge;*/
    /*box-sizing: border-box;*/
    /*display: inline-grid;*/
    /*margin-top: 40px;*/
    border-style: groove;
    width: 1000px;
}

.criteria-row {
    padding-bottom: 10px;
    padding-left: 0px;
}

.tables-and-columns-div {
    display: inline-flex;
}

#queryBuilder {
    margin: auto;
    width: 50%;
}

#queryTemplates {
    text-align: center;
    width: 200px; 
}

#availableColumnsDiv {
    float: left;
    display: grid;
    width: 200px;
}

#addRemoveColumns {
    float: left;
    width: 50px;
}

#schemasDiv {
    clear: both;
    float: left;
    display: grid;
    width: 200px;
}

#tablesDiv {
    float: left;
    display: grid;
    width: 200px;
    margin-left: 50px;
}

#joinsDiv {
    clear: both;
}

#joinsDiv * {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#joinsDiv select {
    width: 250px;
}

#selectedColumnsDiv {
    float: left;
    width: 200px;
    display: grid;
}

#availableColumns {
    width: 200px;
}

#selectedColumns {
    width: 200px;
}

#otherOptionsDiv {
    text-align: center;
}

#otherOptionsDiv * {
    text-align: center;
    margin-bottom: 20px;
}

#statementButtonsDiv * {
    margin-right: 20px;
}

#addRemoveColumns * {
    margin-top: 20px;
}

/* 

.criteria-select-and-input {
    width: 140px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.select-tables {
    width: auto;
}

.select-columns {
    border-style: groove;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.criteria-row {
    padding-bottom: 10px;
}

.tables-and-columns-div {
    display: inline-flex;
}

nav {
  background: #000;
  text-align: center;
  color: lime;
}

.form-control {
    display: block;
    width: fit-content;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #5a5a5a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.4rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }

  .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .query-templates-div {
    text-align: left;
  }

  .schemas-div {
    text-align: left;
  }

  .tables-div {
      text-align: left;
  }

  .joins-div {
      text-align: center;
  }

  .available-columns-div {
      text-align: left;
  }

  .selected-columns-div {
    text-align: left;
} 

/*.criteria-row {
    padding-left: 0px;
}*/
/* 
.query-templates-div {
    float: left;
    width: 150px;
    display: inline-grid;
    padding-top: 10px;
}

.schemas-div {
    clear: both;
    display: block;
    padding-top: 10px;
}

.tables-div {
    display: inline-grid;
    padding-top: 10px;
}

.available-columns-div {
    float: left;
    width: 150px;
}

.selected-columns-div {
    float: left;
    width: 150px;
}

.available-columns-buttons-div {
    float: left;
    width: 150px;
}

.available-columns-add-button {
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
}

.other-options-div {
    /* display: inline; */
    /* float: left;
    margin-left: 200px;
    padding-top: 10px; */
/* } */

/* label {
    display: block;
} */ 

/* select {
    width: fit-content;
} */

/* #queryBuilder select { 
    width: 200px; 
} */






/*NEW*/







/*#queryTemplates {
    width: 200px; 
}

#availableColumns {
    width: 200px;
}

#selectedColumns {
    width: 200px;
}

#schemas {
    width: 200px;
}

#tables {
    width: 200px;
}

.query-templates-div {
    display: inline-grid;
}

.schemas-div {
    display: inline-grid;
    padding-top: 10px;
}

.tables-div {
    display: inline-grid;
    padding-top: 10px;
}

.available-columns-div {
    display: inline-grid;
}

.selected-columns-div {
    display: inline-grid;
}

.table-columns {
    float: right;
    display: inline-flex;
}

.available-columns-buttons-div {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.available-columns-add-button {
    width: 65px;
    margin-bottom: 20px;
}

.available-columns-remove-button {
    width: 65px;
}

.criteria-div {
    width: 1500px;
    border-style: ridge;
    box-sizing: border-box;
    display: inline-grid;
    margin-top: 40px;
}

.add-root-criteria-button {
    width: 150px;
    margin-left: 30px;
}

.other-options-div {
    float: right;
    width: calc(100% - 1500px);
    padding-top: 40px;
}

#otherOptionsDiv select {
    width: 60px;
}

#otherOptionsDiv > * {
    padding-left: 20px;
    margin-bottom: 20px;
}*/

.run-query-button {
    margin-top: 30px;
}

.run-query-div {
    text-align: center;
}

#criteriaPEl {
    margin-left: 30px;
}

.criteria-column-and-filter {
    width: 200px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.criteria-conjuction-and-operator {
    width: 60px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.criteria-add-remove-buttons {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.statement-buttons-div {
    text-align: center;
}

.join-row {
    border-style: groove;
    text-align: center;
}

.delete-join-button {
    float: right;
}

.available-columns-buttons-div {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}