.criteria-select-and-input {
    width: 140px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-columns {
    margin: auto;
}

.select-tables {
    width: auto;
}

.select-columns {
    border-style: groove;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.criteria-div {
    /*width: 1500px;*/
    /*border-style: ridge;*/
    /*box-sizing: border-box;*/
    /*display: inline-grid;*/
    /*margin-top: 40px;*/
    border-style: groove;
    width: 1000px;
}

.criteria-row {
    /*padding-bottom: 10px;*/
    padding-left: 0px;
}

.tables-and-columns-div {
    display: inline-flex;
}

#queryBuilder {
    margin: auto;
    width: 50%;
}

#queryTemplates {
    text-align: center;
    width: 200px; 
}

#availableColumnsDiv {
    float: left;
    display: grid;
    width: 300px;
}

#addRemoveColumns {
    float: left;
    width: 50px;
}

#schemasDiv {
    clear: both;
    float: left;
    display: grid;
    /*width: 200px;*/
    width: 50%
}

#schemasDiv select {
    width: 300px;
}

#tablesDiv {
    float: left;
    display: grid;
    width: 200px;
    margin-left: 50px;
}

#tablesDiv select {
    width: 300px;
}

#joinsDiv {
    clear: both;
}

#joinsDiv * {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#joinsDiv select {
    width: 250px;
}

#selectedColumnsDiv {
    float: left;
    width: 300px;
    display: grid;
}

#availableColumns {
    width: 300px;
}

#selectedColumns {
    width: 200px;
}

#otherOptionsDiv {
    text-align: center;
}

#otherOptionsDiv * {
    text-align: center;
    margin-bottom: 20px;
}

#statementButtonsDiv * {
    margin-right: 20px;
}

#addRemoveColumns * {
    margin-top: 20px;
}

/*.form-control {*/
    /*display: block;*/
    /*width: fit-content;*/
    /*height: calc(2.25rem + 2px);*/
    /*padding: 0.375rem 0.75rem;*/
    /*font-size: 1rem;*/
    /*line-height: 1.5;*/
    /*color: #5a5a5a;*/
    /*background-color: #fff;*/
    /*background-clip: padding-box;*/
    /*border: 1px solid #ced4da;*/
    /*border-radius: 0.4rem;*/
    /*-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;*/
    /*transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;*/
    /*transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
    /*transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;*/
  /*}*/

.run-query-button {
    margin-top: 30px;
}

.run-query-div {
    text-align: center;
}

#criteriaPEl {
    margin-left: 30px;
}

.criteria-column-and-filter {
    width: 200px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.criteria-conjuction-and-operator {
    width: 60px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.criteria-add-remove-buttons {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.statement-buttons-div {
    text-align: center;
}

.join-row {
    border-style: groove;
    text-align: center;
}

.delete-join-button {
    float: right;
}

.available-columns-buttons-div {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}