.sub-query-modal-parameter-description {
    word-break: break-all;
 }

.sub-query-modal-query-template {
    margin-bottom: 20px;
}

.column-members-modal {
    clear: both;
    text-align: center;
    padding-top: 20px;
    z-index: 3;
    /*display: none;*/
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.column-members-modal table {
    width: 100%;
    padding-bottom: 20px;
}

.column-members-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.column-members-modal-close-button {
    float: right;
    margin-right: 15px;
}

.column-members-modal-pagination {
    padding-top: 10px;
    padding-left: 10px;
}

.column-members-modal-members {
    margin-top: 20px;
}

.column-members-modal-members select {
    width: 200px;
    float: left;
}

.column-members-modal-available-members {
    padding-left: 20%;
    display: grid;
    float: left;
}

.column-members-modal-add-remove-members {
    display: grid;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
}

.column-members-modal-add-remove-members * {
    margin-bottom: 10px;
}

.column-members-modal-selected-members {
    display: grid;
    float: left;
}

.column-members-modal-up-down-members {
    display: grid;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
}

.column-members-modal-up-down-members * {
    margin-bottom: 10px;
}

.column-members-modal-submit {
    clear: both;
    padding-top: 20px;
}

.column-members-modal-submit * {
    margin-right: 10px;
}

.criteria-select-and-input {
    width: 140px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-columns {
    margin: auto;
}

.select-tables {
    width: auto;
}

.select-columns {
    border-style: groove;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.criteria-div {
    width: 1000px;
}

.criteria-row {
    padding-bottom: 10px;
    padding-left: 0px;
}

.tables-and-columns-div {
    display: inline-flex;
}

#queryBuilder {
    margin: auto;
    width: 50%;
}

#queryTemplates {
    text-align: center;
    width: 200px;
}

.query-templates-div {
    text-align: center;
    margin-top: 30px;
}

#availableColumnsDiv {
    float: left;
    /*display: grid;*/
    width: 300px;
    padding-left: 5%;
}

#addRemoveColumns {
    float: left;
    width: 10%;
}

#schemasDiv {
    clear: both;
    float: left;
    width: 300px;
    padding-left: 5%;
}

#schemasDiv select {
    width: 100%;
}

#tablesDiv {
    display: grid;
    margin-left: 50px;
    float: right;
    width: 45%;
}

#tablesDiv select {
    width: 300px;
}

#joinsDiv {
    clear: both;
}

#joinsDiv * {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#joinsDiv select {
    width: 250px;
}

#selectedColumnsDiv {
    float: left;
    width: 300px;
    display: grid;
}

#availableColumns {
    width: 100%;
}

#selectedColumns {
    width: 200px;
}

#otherOptionsDiv {
    text-align: center;
}

#otherOptionsDiv * {
    text-align: center;
    /*margin-bottom: 20px;*/
    margin-top: 5px;
}

#statementButtonsDiv * {
    margin-right: 20px;
}

#addRemoveColumns * {
    margin-top: 20px;
}

.run-query-button {
    margin-top: 30px;
}

.run-query-div {
    text-align: center;
}

.save-query-templates-div {
    text-align: center;
}

.save-as-query-template-button {
    margin-top: 30px;
}

#criteriaPEl {
    margin-left: 30px;
}

.criteria-column-and-filter {
    width: 200px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.criteria-conjuction-and-operator {
    width: 60px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.criteria-add-remove-buttons {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.statement-buttons-div {
    text-align: center;
}

.join-row {
    text-align: center;
}

.delete-join-button {
    float: right;
}

.available-columns-buttons-div {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}