<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <title>Query Builder</title>
</head>

<body>

<nav id="navbar">

    <a href="/" class="">QueryBuilder4J</a>

    <a href="" class="">About</a>

</nav>

<form id="qb" name="qb" target="results" action="/query" method="post">

    <div class="tables-and-columns-div">

        <!--Tables-->
        <div id="tablesDiv" class="select-columns">

            <table>

                <tr>
                    <th>Tables</th>
                </tr>
                <tr>
                    <td>
                        <select name="table" id="table" class="select-tables">
                            <option value="county_spending_detail">county_spending_detail</option>
                        </select>
                    </td>
                </tr>

            </table>

        </div>

        <!--Select Columns-->
        <div id="selectColumnsDiv" class="select-columns">

            <table>

                <tr>

                    <th>Selected Columns</th>
                    <th></th>


                </tr>

                <tr>

                    <td>
                        <select name="columns" id="columns" multiple="multiple" size="10">
                            <option value="county_spending_detail.fiscal_year_period">county_spending_detail.fiscal_year_period</option>
                            <option value="county_spending_detail.fiscal_year">county_spending_detail.fiscal_year</option>
                            <option value="county_spending_detail.service">county_spending_detail.service</option>
                            <option value="county_spending_detail.department">county_spending_detail.department</option>
                            <option value="county_spending_detail.program">county_spending_detail.program</option>
                            <option value="county_spending_detail.amount">county_spending_detail.amount</option>
                        </select>
                    </td>

                </tr>

            </table>

        </div>

    </div>

    <!--Other Options & Criteria-->
    <div id="criteriaDiv">

        <!--Other Options-->
        <div id="otherOptionsDiv" class="select-columns">

            <p><strong>Other Options</strong></p>

            <table>

                <tr>
                    <td>
                        <label for="limit">Limit</label>
                        <select name="limit" id="limit">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="distinct" name="distinct"/> Distinct
                    </td>
                    <td>
                        <input type="checkbox" id="groupBy" name="groupBy"/> Group By
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="orderBy" name="orderBy"/> Order By
                    </td>
                    <td>
                        <input type="checkbox" id="ascending" name="ascending"/> Ascending
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="suppressNulls" name="suppressNulls"/> Suppress Nulls
                    </td>
                </tr>

            </table>

        </div>

        <div id="criteria" class="select-columns">

            <p><strong>Criteria</strong></p>

            <button type="button" id="addRootCriteria">Add Root Criteria</button>

            <p id="criteriaAnchor"></p>

        </div>

    </div>

    <button type="button" id="runQuery">Run Query</button>

</form>

<!--Results-->
<div>

    <p id="ajaxError" style="color: red"></p>

    <label for="sqlResult"> <b>Generated SQL:  </b> </label>
    <p id="sqlResult"></p>

    <label for="databaseExists"> <b>Database Still Exists?  </b> </label>
    <p id="databaseExists"></p>

    <label for="tableExists"> <b>county_spending_detail Table Still Exists?  </b> </label>
    <p id="tableExists"></p>

    <label for="numOfTablesIsSame"> <b>Number Of Tables Is The Same?  </b> </label>
    <p id="numOfTablesIsSame"></p>

    <label for="numOfColumnsIsSame"> <b>Number Of Table Columns Is The Same?  </b> </label>
    <p id="numOfColumnsIsSame"></p>

    <label for="numOfRowsIsSame"> <b>Number Of Table Rows Is The Same?  </b> </label>
    <p id="numOfRowsIsSame"></p>

    <label for="tableDataIsSame"> <b>Number Of Table Data Is The Same?  </b> </label>
    <p id="tableDataIsSame"></p>

    <label for="queryResults"> <b>Query Results:  </b> </label>
    <p id="queryResults"></p>

</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>